@charset "utf-8";

/*페이지 타이틀 박스*/
.page_title_box {
  position: sticky; /* 영역 안 고정*/
  top: 0;
  left: 0;
  width: calc(100% + 10rem);
  padding: 1.5rem 0;
  margin-left: -5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #eee;
}

/* 페이지 백 버튼*/
.page_title_box .page_back {
  position: absolute;
  top: 50%;
  left: 2rem;
  transform: translateY(-50%);
}

.form_container {
  margin-top: 110px;
  margin-bottom: 130px;
}

.ipt_box {
  margin-bottom: 30px;
  position: relative;
}

.ipt_box p {
  margin-bottom: -5px;
  position: absolute;
  display: block;
}

.ipt_box input {
  margin-top: 40px;
  width: 100%;
}

.ipt_box:nth-child(3) {
  margin-top: 50px;
}

span {
  margin-top: 0;
  font-size: 1.7rem;
}

.description {
  color: #FF7575;
  font-size: 14px;
  font-weight: 300;
  position: absolute;
  bottom: -20px;
}

.header {
  font-size: 3rem;
  font-weight: 800;
  letter-spacing: -0.02em;
}

button {
  border: none;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 10px;
  background: #25CB7B;
  border-radius: 8px;
  margin-top: 20px;
}
