@charset "utf-8";
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #222;
}

/* 식단 추가 섹션 */
.diet_add {
  max-height: 330px;
  overflow-y: auto; /* 세로 스크롤이 필요한 경우만 스크롤바를 표시 */
}

/*페이지 타이틀 박스*/
.page_title_box {
  position: sticky; /* 영역 안 고정*/
  top: 0;
  left: 0;
  width: calc(100% + 10rem);
  padding: 1.5rem 0;
  margin-left: -5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #eee;
}

.diet-page .page_title_box a[href="exercise.html"] {
  color: #ccc; /* 운동 일지 텍스트 색상 */
}

.diet-page .page_title_box a[href="diet.html"] {
  color: #222; /* 식단 일지 텍스트 색상 */
  padding-bottom: 6px;
  border-bottom: 2px solid var(--primary-color);
}

.page_title_box .page_title {
  padding-top: 3px;
  margin-right: -15px;
  cursor: pointer;
  margin-left: 5rem;
}

/* 아침,점심,저녁,간식 텍스트 */
h3 {
  margin-top: 10px;
  display: inline-block;
  margin-left: 10px;
}

/* 각 식사별 박스 스타일 */
#breakfast,
#lunch,
#dinner,
#snack {
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 10px;
  display: flex;
}

/* 칼로리 텍스트 스타일 */
#breakfastCalories,
#lunchCalories,
#dinnerCalories,
#snackCalories {
  margin-top: 13px;
  margin-right: 2px;
}

/* 메뉴 나타내는 box */
.menu_list {
  border-bottom: 1px solid black;
  width: 146px;
  padding: 10px;
  margin-left: 16px;
}

.button-container {
  display: flex;
  justify-content: flex-end; /* 버튼을 가장 오른쪽으로 이동 */
}

button {
  border: none;
  background-color: transparent;
}


/*모달*/
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 50%; /* 화면 세로 중앙으로 이동 */
  left: 50%; /* 화면 가로 중앙으로 이동 */
  transform: translate(-50%, -50%); /* 모달을 가로 세로 중앙으로 이동 */
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
}

/* 모달 내용 스타일 */
.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 430px;
  height: 300px;
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: -50px;
}

/* 닫기 버튼 스타일 */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#meal-form {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

#meal-form .form-group {
  display: inline-block;
  margin-bottom: 10px;
}

/* 입력 요소 스타일 */
#meal-form label,
#meal-form input {
  display: inline-block;
  margin-right: 10px; /* 필요한 만큼의 간격 조정 */
  padding: 10px;
}

/* 추가 버튼 스타일 */

.cal-button {
  margin-top: 40px;
  display: block;
  padding: 1.5rem 4rem;
  color: #fff;
  background: #25CB7B;
  border-radius: 0 0 8px 8px;
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
}

/*캘린더*/

.clearfix:after {
  content: '';
  display: block;
  clear: both;
  float: none;
}

.ui-widget-header { border: 0px solid #dddddd; background: #fff; } 

.ui-datepicker-calendar>thead>tr>th { font-size: 14px !important; } 

.ui-datepicker .ui-datepicker-header { position: relative; padding: 10px 0; } 

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active { border: 0px solid #c5c5c5; background-color: transparent; font-weight: normal; color: #454545; text-align: center; } 

.ui-datepicker .ui-datepicker-title { margin: 0 0em; line-height: 16px; text-align: center; font-size: 20px; font-weight: bold; padding: 0px; } 

.ui-datepicker { display: none; background-color: #fff; border-radius: 4px; padding: 20px; padding-bottom: 30px; 
  width: 400px !important; box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.1);
   margin: 0 auto; margin-top: 30px;   font-family: 'Pretendard', sans-serif !important;
} 

.ui-datepicker table{ margin: 20px 0 0.4em !important; }

.ui-widget.ui-widget-content { border: 1px solid #eee; } 

#datepicker:focus>.ui-datepicker { display: block; } 

.ui-datepicker-prev,
.ui-datepicker-next { cursor: pointer; } 

.ui-datepicker-next { float: right; } 

.ui-state-disabled { cursor: auto; color: hsla(0, 0%, 80%, 1); } 

.ui-datepicker-title { text-align: center; padding: 10px; font-weight: 100; font-size: 20px; } 

.ui-datepicker-calendar { width: 100%; } 

.ui-datepicker-calendar>thead>tr>th { padding: 5px; font-size: 20px !important; font-weight: 400; } 

.ui-datepicker-calendar>tbody>tr>td>a { color: #000; font-size: 15px !important; text-decoration: none; }

.ui-datepicker-calendar>tbody>tr>.ui-state-disabled:hover { cursor: auto; background-color: #fff; } 

.ui-datepicker-calendar>tbody>tr>td { border-radius: 100%; width: 44px; height: 30px; cursor: pointer; padding: 5px; font-weight: 100; text-align: center; font-size: 12px; } 

.ui-datepicker-calendar>tbody>tr>td:hover { background-color: transparent; opacity: 0.6; } 

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover,
.ui-button:focus { border: 0px solid #cccccc; background-color: transparent; font-weight: normal; color: #2b2b2b; } 

.ui-widget-header .ui-icon { background-image: url('./btns.png'); } 

.ui-icon-circle-triangle-e { background-position: -20px 0px; background-size: 36px; } 

.ui-icon-circle-triangle-w { background-position: -0px -0px; background-size: 36px; } 

.ui-datepicker-calendar>tbody>tr>td:first-child a { color: red !important; } 

.ui-datepicker-calendar>tbody>tr>td:last-child a { color: #0099ff !important; } 

.ui-datepicker-calendar>thead>tr>th:first-child { color: red !important; } 

.ui-datepicker-calendar>thead>tr>th:last-child { color: #0099ff !important; } 

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight { border: 0px; background: #f1f1f1; border-radius: 50%; padding-top: 10px; padding-bottom: 10px; } 

.inp { padding: 10px 10px; background-color: #f1f1f1; border-radius: 4px; border: 0px; } 

.inp:focus { outline: none; background-color: #eee; } 