@charset "utf-8";

/*리스트 스타일 제거*/
ul {
    list-style: none;
}
 
a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}


/*페이지 타이틀 박스*/
.page_title_box {
    position: sticky; /* 영역 안 고정*/
    top: 0;
    left: 0;
    width: calc(100% + 10rem);
    padding: 1.5rem 0;
    margin-left: -5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #eee;
}

#displayDate {
  font-size: 24px;
  font-weight: bold;
}
/* 페이지 백 버튼*/
.page_title_box .page_back {
    position: absolute;
    top: 50%;
    left: 2rem;
    transform: translateY(-50%);
}

.exercise-form {
  margin-top: 60px;
  padding: 20px;
  width: 400px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

#exerciseForm {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  border-radius: 8px;
}


#exerciseForm label {
  margin-bottom: 5px;
  font-size: 2.3rem;
  margin-top: 15px;
  display: flex;

}


#exerciseType option {
  padding: 5px; /* 위아래 여백 설정 */
}

.time-inputs {
  display: flex;
  align-items: center; /* 수직 가운데 정렬 */
  border: 1px solid #ccc;
}

.time-inputs input {
  margin-right: 5px; /* 입력란 사이의 간격 설정 */
}

.time-inputs span {
  font-size: 22px;
}
/* 시간 입력칸 스타일링 */
input[type="time"] {
  padding: 8px; /* 내부 여백 설정 */
  border:none; /* 테두리 설정 */
  border-radius: 4px; /* 테두리 모서리를 둥글게 만듭니다. */
  font-size: 16px; /* 폰트 크기 설정 */
}

/* 시간 입력란 사이에 ~ 기호를 추가하고 간격을 조절합니다. */
.time-inputs input[type="time"] {
  margin-right: -3px; /* 시간 입력란 사이의 간격 조절 */
  font-family: 'Pretendard', sans-serif; /* 원하는 글꼴로 변경 */
  font-size: 16px; /* 원하는 글꼴 크기로 변경 */
}

/* 시간 입력 필드의 스타일 변경 */
input[type="time"] {
  -webkit-appearance: none; /* 웹킷 기본 스타일 제거 */
  appearance: none; /* 기본 스타일 제거 */
  padding: 10px; /* 내부 여백 제거 */
  background: transparent; /* 배경 투명으로 설정 */
}

textarea {
  width: 357px;
  margin-top: -20px;
}

#exerciseType {
  margin-top: 10px;
  width: 100%;
}

#saveButton {
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: 'Pretendard', sans-serif !important;
  font-weight: 300;
  border: none;
  transition: .3s;
  display: block;
  margin-top: 10px;
  padding: 1.5rem 4rem;
  color: #fff;
  background: #25CB7B;
  border-radius: 8px;
}

